{% extends "base.html" %}

{% block title %}
О Капуцине
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/capuz2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">У этих приматов длинные цепкие хвосты. Нижняя поверхность такого хвоста голая и снабжена осязательными гребешками – чувствительными кожными образованиями, благодаря которым хвост играет роль добавочной конечности.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Капуцины обитают в лесах Центральной и Южной Америки.
Капуцины – дневные приматы, которые держатся группами по 10-30 особей. Половину группы составляют детеныши. В группе соотношение взрослых самцов и самок примерно одинаковое. В группе строгая иерархия – самцы господствуют над самками, а самки – над молодняком. Для общения эти обезьяны используют богатый набор самых разных звуковых сигналов, мимику и жесты. Когда после непродолжительной разлуки встречаются члены группы, они издают приветственные крики. У капуцин есть специальные сигналы, говорящие о наличии корма, опасности, угрозы и т.д.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Капуцины – всеядные животные. В рационе присутствует как растительная так и животная пища. Любят они полакомится цветами, фруктами, орехами. Охотятся на насекомых, пауков и мелких позвоночных.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">В зависимости от вида капуцинов беременность длится от 150 до 160 дней. Обычно рождается один детеныш (двойни бывают очень редко). Первые три месяца детеныш проводит за спиной у матери, перебираясь к ней на грудь только, чтобы получить молоко. К шестимесячному возрасту он уже может есть «взрослую еду».</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">Продолжительность жизни капуцинов в неволе 25 и более лет.</p>
</div>
{% endblock %} 