{% extends "base.html" %}

{% block title %}
О Еноте
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/enot2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Некрупный хищник с мохнатой мордочкой, короткими лапами и полосатым хвостом. Колумб в своих журналах впервые описывал енотов как собакоподобных животных.
Голова у енотов широкая, имеет заостренную морду и стоячие уши закругленной формы. Черная полоска на морде тянется от лба до самого носа, ее называют «маской».
Несмотря на короткие лапки, пальцы у енотов длинные, оснащены твердыми когтями. Еноты умеют не только хватать и манипулировать мелкими предметами, но также чрезвычайно хорошо лазить и бегать по деревьям. </p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Родина енота-полоскуна – Северная Америка. Енот-полоскун был завезен в Европу и Азию и там хорошо акклиматизировался. Сейчас этих животных можно встретить и на территории Беларуси.
Как и многие хищники они предпочитают ночной образ жизни. Днем еноты лазают по деревьям либо отдыхают в своих укромных домиках. Несмотря на то, что еноты-полоскуны предпочитают вести обособленный образ жизни, с наступлением холодов они могут объединяться в небольшие группы и зимовать вместе, если размеры убежища позволяют это сделать.
Еноты, которые живут в дикой природе могут впадать в спячку.
Звери абсолютно не боятся людей, скорее даже наоборот. Они выходят к поселениям и городам с целью получить от человека какую-либо еду или обшарить мусорный бак.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Еноты считаются всеядными животными. Питаются они лягушками, насекомыми, фруктами, овощами, грибами, орехами. Не брезгуют мышевидными грызунами, способны поймать и съесть змею, собирают птичьи яйца, едят птенцов, могут залезть и в курятник.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">В брачный период самцы начинают подыскивать себе самок. Обычно это происходит ранней весне, но может затянуться и до начала лета. Самцы спариваются со всеми самками, которые им попадаются. Сразу после оплодотворения они удаляются. После девяти недель вынашивания, на свет появляются детеныши. Чаще всего рождается от трех до шести детенышей, очень редко бывает один. Потомство енотов называют щенками.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">В дикой природе еноты могут прожить до 14 лет. Если правильно ухаживать за животными они могут прожить в два раза больше.</p>
</div>
{% endblock %} 