{% extends "base.html" %}



{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="baner__content" style="background-image: url('https://images.wallpaperscraft.ru/image/single/lev_samets_lviata_78508_1680x1050.jpg')">
            <div class=" container p-5 mb-4">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Режим работы зоопарка</h1>
                    <p class="col-md-8 fs-9">Ежедневно 10:00-21:00</p>
                <div class="row align-items-md-stretch">
                    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
                        <div class="h-100 p-5">
                            <h5>Наш зоопарк - </h5>
                            <p>Уникальный дом живой природы для более 500 видов млекопитающих, птиц, рыб и беспозвоночных из разных уголков Земли. Это просветительное, природоохранное учреждение, дающее возможность любому желающему познакомиться с биологическим разнообразием всей планеты, не покидая пределов города, расширить свой кругозор в области биологии, зоологии, экологии и, конечно, интересно и с пользой провести время!</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
</div>


{% endblock %}
