{% extends "base.html" %}

{% block title %}
О Ламе
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/lama2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Лама была одомашнена индейцами Анд более 6 тыс. лет назад. Это животное стройного телосложения с длинной грациозной шеей, изящной мордой с огромными глазами и пышными ресницами.  Шерсть у лам очень густая и длинная. Окраска варьирует от чисто белой до темно-бурой и может быть как однотонной, так и пегой. Длина тела животных 120-175 см., высота в холке – около 120 см. Вес колеблется от 130 до 200 кг.  Самцы, обычно, несколько крупнее самок. В отличии от верблюдов, ламы не имеют горба, хоть и относятся они к одному семейству.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Ламы – стадные животные, в условиях неволи их обязательно нужно содержать с другими особями. Ламы очень дружелюбные, любознательные и неприхотливые животные.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Питаются в основном ветками, сеном, травой, овощами, фруктами, зерном. Как и верблюды, эти животные тоже могут долго обходиться без воды.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">В зависимости от места обитания, гон у животных бывает с августа по февраль. Беременность длится около 11 месяцев. Обычно рождается один детеныш. Половой зрелости самцы ламы достигают на 2-3 год жизни, самки – раньше.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">В среднем продолжительность жизни ламы составляет 20 лет.</p>
</div>
{% endblock %}