{% extends "base.html" %}

{% block title %}
О Льве
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/lev2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Тело зверя отличается гибкостью и подвижностью, у него хорошо развиты мышцы передних лап и шеи. На лапах находятся когти, длина которых достигает 7 см. Голова крупная с вытянутой мордой и сильными челюстями. Клыки у льва длинные (около 8 см), количество зубов – 30 шт. Все эти особенности дают льву возможность охотиться на больших травоядных животных. Язык покрыт бугорками, благодаря которым лев может чистить свою шерсть от грязи и насекомых.

У основания усов есть небольшие темные пятнышки. Эти пятнышки образуют узор, уникальный для каждого животного.

У взрослой особи гладкая шерсть песочного, коричневого либо бежевого цвета. Детеныши рождаются пятнистыми. По мере взросления пятна с их тела исчезают, а цвет шерсти становится однородным.

На кончике хвоста у зверя располагается черная кисточка.

Главной особенностью льва является грива, которая украшает его голову. Она начинает расти у львят с шестимесячного возраста. Длина ворса и густота гривы зависят от возраста и особенностей генетики.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Раньше “Царя зверей” можно было увидеть на Ближнем Востоке, в Иране и даже ряде мест Южной Европы. В Северной и Северо-Западной Индии лев был обычным хищником. Однако преследование со стороны человека и разрушение среды обитания привели к тому, что в Африке лев сохранился только к югу от Сахары. Его ареал в настоящее время сильно сократился.

Львы населяют в основном саванны, но иногда могут перебираться в кустарниковую местность или лес. В отличие от других кошачьих, они живут в особых семейных группах – прайдах. Прайд обычно состоит из родственных самок, потомства и нескольких взрослых самцов. Самки охотятся вместе, в большинстве случаев на крупных копытных. Львы не охотятся на людей целенаправленно, но случаи людоедства наблюдаются очень часто.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Лев – это хищник, питаясь довольно крупными животными: оленями, кабанами, антилопами, зебрами, буйволами, жирафами, домашним скотом. В редких случаях животное может напасть на бегемота или маленького слона. Также его добычей могут стать заболевшие гепарды, гиены и леопарды.

В охоте преуспевают львицы. Они отличаются ловкостью и проворностью. Самцам охота дается труднее – из-за крупных размеров и тяжелой гривы. Однако еды самцу нужно больше. В сутки взрослый лев съедает около семи кг мяса, в то время как самке достаточно пяти кг.

Охотиться эти животные предпочитают по ночам, подкрадываясь к жертве на максимальное близкое расстояние.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">Размножение у львов не привязано к времени года, а начинается оно с достижением половой зрелости. Половозрелыми считаются самцы в возрасте 6 лет и самки в возрасте 4 лет.

Самцам свойственно бороться за самок. Иногда эти бои бывают настолько жестокими, что конкурент погибает.

Беременность длится 110 дней. Незадолго до родов львица уходит из прайда и прячется. Она может родить от 1 до 4 детенышей, вес которых немного меньше 2 кг. Львята рождаются слепыми и глаза они открывают лишь спустя 7 дней после рождения. В целях безопасности мать несколько раз меняет место пребывания, перенося за собой детей. Львица занимается охотой, а малышей кормит молоком. Обучение детенышей охоте начинается в возрасте 1,5 месяцев, тогда же все семейство присоединяется к прайду.

С началом охоты львята понемногу употребляют в пищу мясо, хотя период молочного вскармливания продолжается около 6 месяцев.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">Львицы в природе живут дольше самцов, так как в определенной степени находятся под защитой прайда. Самцы же, потеряв силу, вынуждены покидать прайд и проводить остаток жизни в одиночестве в менее благоприятных условиях. Средняя продолжительность жизни самок 14-16 лет, самцы редко доживают до 11-12 лет.</p>
</div>
{% endblock %} >