{% extends "base.html" %}

{% block title %}
О Лисе
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/lis2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Лисы – стройные животные с удлиненным туловищем, довольно короткими ногами, слегка вытянутой мордой и пушистым хвостом. Пушистый хвост лисицы служит своеобразным стабилизатором во время бега, а в зимнее время используется для дополнительной защиты от холода. Длина тела животного варьирует от 60 до 90 см, длина хвоста – 40-60 см, вес колеблется от 6 до 10 кг.
В большинстве случаев окраска спины лисицы ярко-рыжая, живот – белый, серый или чуть буроватый, грудь светлая. На ногах отчетливо прослеживаются черные «чулки». Характерным признаком обыкновенной лисицы служит белый кончик хвоста и темные, почти черные ушки. В зависимости от места обитания, окраска меха варьирует от ярко-рыжей до серой.
Дважды в год лисица линяет. Летний мех более редкий и короткий, а зимний – густой и пышный.</p>
    <h2>ОБРАЗ ЖИЗНИ</h2>
    <p class="center">Обитает обыкновенная лисица по всей Европе, ареал охватывает территорию Северной Африки, Азии (от Индии до Южного Китая), Северной Америки и Австралии.
В качестве жилища животные используют пустующие норы барсуков, сурков, песцов. Иногда роют норы сами. В норе лисица проводит большую часть дневного времени. Поздним вечером выходит на охоту.</p>
    <h3>ПИТАНЕ</h3>
    <p class="center">В рацион животного входят полевые мыши, зайцы, детеныши косуль и другие мелкие животные.  Иногда лисицы разоряют гнезда гусей и глухарей, питаются падалью, жуками и личинками насекомых. Помимо животной пищи, обыкновенная лисица употребляет и растительную. Рыжая лисица – яростный истребитель посевов овса: при отсутствии мясного меню она набегает на сельхозугодия злаковых, нанося им урон.</p>
    <h4>РАЗМНОЖЕНИЕ</h4>
    <p class="center">Брачный период у обыкновенной лисицы приходится на конец зимы – начало весны. В этот период между самцами проходят стычки за самку. Самка выбирает наиболее достойного претендента. В конце апреля – начале мая на свет появляются от 4 до 12 лисят, покрытых темно-бурой шерстью. Внешне они напоминают волчат, но отличаются белым кончиком хвоста.  В воспитании лисят принимают участие оба родителя. Отец и мать проявляют в это время крайнюю осторожность и в случае угрозы немедленно переносят детенышей в запасную нору.</p>
    <h5>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h5>
    <p class="center">В дикой природе лисицы редко живут более семи лет, в то время как в неволе они доживают до 20-25 лет.</p>
</div>
{% endblock %}