{% extends "base.html" %}

{% block title %}
О Черепахе
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/raf2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Основную часть тела у красноухой черепахи занимает плотный панцирь, состоящий из роговых пластин. Верхняя его часть называется карапаксом, а нижняя – пластроном. Молодые красноухие черепахи имеют ярко-зеленый карапакс, который с возрастом становится оливковым или бурым с узорами из желтых полос. Пластрон окрашен в ярко-желтый цвет с зелеными пятнами.

Размер взрослой черепахи может варьировать от 18 до 30 см и зависит от возраста, пола и подвида. Самки заметно крупнее самцов.

Отличительной особенностью красноухих черепах является наличие особых красных (у одного из подвидов – желтых) пятен, расположенных рядом с глазами. Конечности у рептилии короткие, перепончатые пальцы заканчиваются длинными когтями.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Вода играет огромную роль в жизни красноухих черепах, ведь здесь они добывают пищу, плавают и размножаются. Эти рептилии предпочитают мелкие озера, небольшие пруды без крутых берегов. Черепахи ведут малоподвижный образ жизни: либо неторопливо отыскивают очередную добычу, плавая по водоему, либо, насытившись, выползают на берег и греются на солнышке. В случае обнаружения опасности черепахи резко срываются с места и ныряют в воду.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Красноухие черепахи – это хищники. Главная составляющая их рациона – это мидии, улитки, устрицы и другие моллюски, а также различные ракообразные. Летом они предпочитают питаться водными и отчасти летающими насекомыми – кузнечиками, жуками и др.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">В природе черепахи становятся половозрелыми к 6-8 годам. Спаривание в природе происходит с конца февраля по май.

Чтобы отложить яйца, самка покидает водоем и выходит на сушу. Найдя подходящее место, она сильно смачивает землю водой из анальных пузырей (специальных выростах кишечника). После этого начинает рыть задними ногами ямку – гнездо. Гнезда красноухих черепах похожи на шар диаметром от 7 до 25 сантиметров, в них самки откладывают от 5 до 22 яиц, которые потом закапывают.

Инкубация яиц занимает три-пять месяцев, после чего молодые черепашки разбивают скорлупу своего яйца и выползают наружу. У них имеется остаток желточного мешка, который рассасывается в течение нескольких дней.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">Красноухих черепах можно назвать долгожителями. При правильном уходе они могут прожить 20-25 лет, а некоторые экземпляры могут дожить и до 40 лет.</p>
</div>
{% endblock %} 