{% extends "base.html" %}

{% block title %}
О Тапире
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/tapir2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Часто можно услышать, что это животное называют бегемотом или маленьким слоном. Действительно, если посмотреть на верхнюю губу с вытянутым носом, который очень похож на подвижный хоботок, то сразу и не скажешь, что это за животное. Хоботок заканчивается пятачком, который ему помогает в поисках еды. Тело тапира мускулистое и вытянутое, такая форма тела помогает животному пробираться через густые заросли.   На передних ногах по 4 пальца, на задних по 3. Каждый палец оканчивается маленьким копытцем.

Маленькие глаза расположены по бокам головы. Стоит отметить, что у этих животных плохое зрение, но прекрасный слух и обоняние.

Окраска шерсти серая, иногда черно-коричневая. На животе и груди волосяной покров сменяется темно-коричневыми оттенками. Кожа тапира плотная, покрыта мелкими волосками. Этому животному необходима высокая влажность, иначе его кожа сохнет.

Равнинные тапиры достигают массы от 150 до 270 кг. Длина тела может доходить до 220 см, длина хвоста до 8 см. Высота в плечах составляет 77-108 см.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Равнинные тапиры встречаются в Южной Америке, восточнее Анд. Обитают они в густых зарослях тропических лесов. Предпочитают держаться вблизи водоемов.

Тапиры достаточно пугливые и осторожные животные, активны в темное время суток. На незнакомой территории ведут себя крайне осторожно.

Днем они скрываются в густых зарослях, а ночью выходят кормиться. Тапиры одиночные животные, и, если встречаются с сородичами, ведут себя по отношению друг к другу очень агрессивно, каждый старается отпугнуть и прогнать противника.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Равнинные тапиры употребляют в пищу ветки и побеги, при этом они предпочитают их мягкие части. Не откажутся они и от листьев, почек и фруктов.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">Тапиры одни из рекордсменов по продолжительности беременности, 412 дней самка вынашивает детеныша. Новорожденный весит 4-7 кг. Обычно рождается один детеныш, двойни крайне редки. Шерсть малыша усеяна светлыми пятнами и полосами, служащими ему для маскировки. Маскировочный окрас исчезает в возрасте 5-8 месяцев. От молока детеныш отвыкает в возрасте 6 месяцев, однако остается при матери около года.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">В природе тапиры живут до 30 лет, в зоопарках продолжительность их жизни больше.</p>
</div>
{% endblock %} 