{% extends "base.html" %}

{% block title %}
О Зебре
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/zeb2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Зебра – животное плотного телосложения с относительно короткими ногами, прямостоящей гривой и длинным подвижным хвостом с кисточкой на конце.
Высота в холке варьирует от 120 до 140 см. Масса животного в зависимости от возраста и пола колеблется от 175 до 450 кг. Самцы, как правило, немного крупнее самок.
Отличительная черта зебр – полосатый рисунок на шкуре. Этот рисунок строго индивидуален для каждой особи.
У зебры хорошо развито обоняние, так она с легкостью способна учуять признаки опасности – например, по донесшемуся едва уловимому запаху льва с наветренной стороны, все стадо бросается бежать, как по команде.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Саванная зебра широко распространена в юго-восточной Африке, от Южной Эфиопии до востока ЮАР и Анголы.
Животные населяют обычно безлесные пастбища и леса саванн.
Живут зебры в группах – табунах. В одном табуне есть только один взрослый самец. Все остальные – самки с детенышами. Размер табуна зависит от условий обитания, как правило в нем 9-10 голов. Внутри табуна есть иерархия самок со взрослой кобылой во главе. Во время сезонных миграций табун ведет не самец, а взрослая самка. За ней следуют ее детеныши, а потом остальные самки со своими жеребятами.
Холостые взрослые самцы держатся поодиночке или образуют отдельные табуны.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Питаются зебры травянистой растительностью, употребляя в пищу около 50 видов трав. Листья и побеги поедают в меньших количествах.  Так как зебры должны пить минимум 1 раз в день, они очень зависят от источников воды и никогда не удаляются от них на значительное расстояние.</p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">Зебры не имеют определенного сезона размножения, хотя пик рождаемости приходится на сезон дождей. Период беременности длится около года, и, обычно, рождается один детеныш. Уже через 20 минут после появления на свет, жеребенок начинает ходить. Так как у каждой зебры полосатый рисунок шкуры уникален, после появления на свет малыша, мама зебра некоторое время закрывает его своим телом, чтобы он смог запомнить ее рисунок на теле. Именно по этому рисунку малыш узнает свою маму в табуне. Половой зрелости зебры достигают в 1-1,5 года. Молодые самцы в этом возрасте покидают свой табун.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">В природе саванные зебры живут 20-30 лет; в неволе продолжительность их жизни достигает 40 лет.</p>
</div>
{% endblock %} 