{% extends "base.html" %}

{% block title %}
О Зубре
{% endblock %}

{% block body %}
<div class="bg-body-tertiary p-5 rounded">
    <img src="/static/images/zubr2.jpg">
    <h1>ВНЕШНИЙ ВИД</h1>
    <p class="lead">Благодаря хорошо развитой мускулатуре зубры выглядят массивно и величественно. Для них характерна широкая грудная клетка и подтянутый живот. Рекордная масса тела взрослого самца составила 1,2 тонны. Не смотря на всю мощь и размеры, зубры хорошо и быстро бегают, способны перепрыгивать препятствия высотой около 2 метров.
В зависимости от подвида и региона обитания, шерсть животных может быть различной окраски. У беловежских зубров она серо-бурого оттенка с медно-коричневым отливом. На голове шерсть темнее.</p>
    <h1>ОБРАЗ ЖИЗНИ</h1>
    <p class="lead">Зубры являются травоядными животными. На пастбища выходят ранним утром и в вечернее время. На протяжении дня чаще всего отдыхают, спят, купаются в песке, нежатся на солнышке, разжевывают жвачку, вычищают шерсть. В весенний период группы животных выходят поближе к водным источникам. Летом, в сильную жару, удаляются в лесные заросли.
Зубр миролюбивое и не агрессивное животное. Зачинщиком конфликтов не бывает. Если на его пути будет преграда или опасность, он попытается ее обойти и только в случаи, когда невозможно избежать конфликта, зубр начнет защищаться.</p>
    <h1>ПИТАНИЕ</h1>
    <p class="lead">Рацион зубра зависит от времени года. Летом – трава и ягоды. Осенью зубр может есть грибы, желуди, лесные орехи. Если зубр живет в зоопарке и заповеднике, то его спокойно можно подкармливать сеном и овощами.  </p>
    <h1>РАЗМНОЖЕНИЕ</h1>
    <p class="lead">Период беременности продолжается 9 месяцев. К моменту, когда должен появиться теленок, его мама подыскивает уединенное место. Новорожденные появляются на свет по одному, крайне редко в количестве двух. Средняя масса тела новорожденного 23-26 килограмм. После рождения самка тщательно вылизывает своего детеныша. Спустя 1,5-2 часа с момента появления на свет малыш встает на ножки и свободно идет вслед за мамой.</p>
    <h1>ПРОДОЛЖИТЕЛЬНОСТЬ ЖИЗНИ</h1>
    <p class="lead">В дикой природе животные живут в среднем 20 лет. Зафиксирован случай, когда самец прожил 33,5 года.</p>
</div>
{% endblock %} 